name: Publish to Exchange & Deploy to CH2.0

on:
  push:
    branches: [ main ]
    
jobs:         
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout this repo
        uses: actions/checkout@v4

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: 17

      

      - name: Publish and Deploy
        run: |
          mvn clean deploy -s .maven/settings.xml \
          -DskipMunitTests \
          -DmuleDeploy \
          -Dclient.id="${{ secrets.CA_CLIENT_ID }}" \
          -Dclient.secret="${{ secrets.CA_CLIENT_SECRET }}"
