name: Deploy to CH2.0
on:
  push:
    branches: [ main ]
    
jobs:         
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout this repo
        uses: actions/checkout@v4
      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven-
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: 17
      - name: Build
        run: |
          mvn clean package -DskipMunitTests

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout this repo
        uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: "zulu"
          java-version: 17
      - name: Deploy to CloudHub 2.0
        run: |
          mvn mule:deploy -s .maven/settings.xml \
          -DskipMunitTests \
          -Dclient.id="${{ secrets.CA_CLIENT_ID }}" \
          -Dclient.secret="${{ secrets.CA_CLIENT_SECRET }}" 

     
